.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem;
  background-color: #579fd9;
}

.burger-menu {
  cursor: pointer;
  font-size: 2rem;
  color: aliceblue;
}

.nav-links {
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  z-index: 200;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(138, 201, 201);

  &.open {
    display: flex;
  }

  li {
    padding: 1rem;
    text-align: center;

    a {
      text-decoration: none;
      color: #333;
      transition: color 0.3s;
      position: relative;
      display: block;

      &:hover {
        color: #ffffff;
      }

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #272343;
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
      }

      &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
  .active {
    color: #ffffff;
  }
}

@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    background-color: transparent;

    li {
      padding: 0;
      margin: 0 1rem;

      a {
        color: rgb(0, 0, 0);
      }
    }
  }
}
