.footer {
  width: 100%;
  padding: 30px;
  background-color: #080c26;
  color: white;
  display: flex;
  justify-content: space-between;
  z-index: 5;
  position: relative;
}
.footerInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footerLinks a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footerLinks a:hover {
  color: #c041b3;
  text-decoration: underline;
}
.footerIcons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 16px;
}
.footerIcons a {
  color: #c041b3;
  font-size: 30px;
  transition: color 0.3s ease;
}
.footerIcons a:hover {
  color: #000000;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 80px;
  }
  .footerLinks {
    align-items: center;
  }
}
